<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemo UI Tests" verbose="1">
    <listeners>
        <listener class-name="utils.RetryAnnotationTransformer"/>
    </listeners>
    <test name="All UI tests">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.InventoryTest"/>
            <class name="tests.CartTest"/>
            <class name="tests.CheckoutTest"/>
            <class name="tests.SortingTest"/>
        </classes>
    </test>
</suite>
